.app {
    height: 100%;
}

@media (min-width: 992px) {

    md-sidenav.folded { /* ocultar menu toogle left*/
        width: 0px;
    }
}



md-dialog.main {
    max-width: 95%;
    max-height: 95%;
}


/*
 * Para el input buscar de la tabla del CRUD
 */

.md-search {
    height: 10px;
}
