<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card >
            <nav>
    <ul class="nav">
    <div ng-repeat="section in menu.sections">
            
            <div ng-repeat="menu in section.menu">
                <li ng-if="menu.type === 'toggle'" ng-class="{'active toggled':$state.includes('{{menu.state}}')}">
                    <a md-ink-ripple toggle-submenu class="inherit">
                        <span class="pull-right  ">
                          <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
                        </span>
                        <i class="icon mdi-action-subject i-20"></i>
                        <span class="font-normal">{{menu.title}}</span>
                    </a>
                    <ul class="nav nav-sub" ng-repeat="menu_item in menu.menu_items">
                        <li ui-sref-active="active">
                            <a md-ink-ripple ui-sref="{{menu_item.state}}">{{menu_item.title}}</a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" ng-if="menu.type === 'link'">
                    <a md-ink-ripple ui-sref="{{menu.state}}">
                        <span>{{menu.title}}</span>
                    </a>
                </li>
            </div>
            <li ui-sref-active="active" ng-if="section.type === 'link'">
                <a md-ink-ripple ui-sref="{{section.state}}">
                    <span>{{section.title}}</span>
                </a>
            </li>
        </div>
            </ul>
        
</nav>
                <div class="container">
                    <h4>Example</h4>
                    <p>Pick a locale
                        <select ng-model="model.selectedLocale" ng-options="key as value for (key, value) in availableLocales" ng-change="changeLanguage(model.selectedLocale)"></select>
                    </p>
                    <p>Selected locale id: {{model.selectedLocale}}</p>
                    <p>Current locale id: {{$locale.id}}</p>
                    <p>A big number: {{1234567890.23 | number}}</p>
                    <p>The Epoch was on: {{0 | date}}</p>
                   <p> {{ 1000 | currency}}</p>
                    <span>{{1288323623006 | date:'fullDate'}}</span><br>
                    <p>One million of the local currency: {{1000000 | currency}}</p>
                </div>


                <div class="span4">
                    <div class="well">
                        <h2>{{ 'TITLE' | translate }}</h2>
                        <p>{{ 'hola foo' | translate }}</p>
                        <p>{{ 'HEADLINE' | translate }}</p>
                        <p translate="PARAGRAPH" translate-values="{username: 'angel'}"></p>
                    </div>
                    <div>
                        <button class="btn" ng-click="changeLanguage('en-us')" translate="en-us" class="ng-scope">english</button>
                        <button class="btn" ng-click="changeLanguage('es-pe')" translate="es-pe" class="ng-scope">espa</button>
                    </div>
                </div>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="dist/media/img/list/60.jpeg" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-headline">Headline for title</span>
                        <span class="md-subhead">subhead</span>
                    </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="md-icon-button" aria-label="Add" ui-srefx="">
                        <md-tooltip md-autohide>Add</md-tooltip>
                        <ng-md-icon icon="add" aria-label="Add"></ng-md-icon>
                    </md-button>
                    <md-card-icon-actions>
                        <md-input-container class="md-block md-search">
                            <input placeholder="Buscar" ng-model="query" ng-keyup="buscar()">
                        </md-input-container>
                        <md-button class="md-icon-button" aria-label="Share">
                            <ng-md-icon icon="more_vert" aria-label="title"></ng-md-icon>
                        </md-button>
                    </md-card-icon-actions>
                </md-card-actions>
                <md-divider></md-divider>
                <md-card-content>
                    My content
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>
